  <div class="my-3">
    <%= f.label :verbatims %><br />
    <%= render partial: 'vuejs/component', locals: { name: 'verbatims_input', props: { verbatims: form_facade.trend_report.verbatims } } %>
  </div>
