<% if current_company_user %>
  <div class="help-button-wrapper d-flex">
    <span class="text align-self-center hoveing" >Proposer une question  </span>
    <button class="help-button " target="_blank" onClick="window.open('https://mt8f3tjv344.typeform.com/to/VcSOcpp9#user_email=<%= current_company_user.email %>')">
      <i class="fa fa-comments icon" aria-hidden="true"></i>
    </button>
  </div>
<% end %>

.help-button-wrapper {
  position: fixed;
  bottom: 3em;
  right: 1em;
  text-align: center;
}
.help-button {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  border: 0 none;
  color: #fff;
  background: #EA004D;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transform: scale(1);
  transition: all 200ms ease;
}

.help-button:hover {
  height: 8.2em;
  width: 8.2em;
  font-size: 17px;
  color: rgb(248, 208, 208);
}


.icon {
  font-size: 4em;
}

.text {
  background: #EA004D;
  color: #d3d3d3;
  padding: 15px;
  margin-right: -25px;
  margin-bottom: 35px;
  border-bottom-left-radius: 4.25rem;
  border-top-left-radius: 4.25rem;
  z-index: 1;
  font-size: 1.5em;
}

.text:hover,
.text:focus,
.text:active
.help-button:hover,
.help-button:focus,
.help-button:active {
  outline: 0;
}